.article_wrapper {
    display: flex;
    gap: 50px;
    background-color: white;
    margin: 50px;
    color: black;
    font-family: 'SF_Pro-Text', sans-serif;
}

.article_wrapper-text {
    display: flex;
    flex-direction: column;
    & h1{
        font-weight: 900;
    }
}

.article_wrapper-image img{
    max-width: 500px;
    max-height: 500px;
}