.article_wrapper {
    display: flex;
    gap: 50px;
    background-color: white;
    margin: 50px;
    color: black;
    font-family: 'SF_Pro-Text', sans-serif;
}

.article_wrapper-text h1{
    font-size: ;
}

.article_wrapper-image img{
    max-width: 200px;
    max-height: 500px;
}