/* Основные стили */

.user-controls__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.user-controls__wrapper {
    display: flex;
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #000000; /* Чёрная рамка вокруг контейнера */
}

.user-controls__left,
.user-controls__right {
    flex: 1;
}

.user-controls__divider {
    width: 1px;
    background-color: #000000; /* Чёрная вертикальная линия */
    margin: 0 20px;
}

.user-controls__form {
    margin-bottom: 20px;
}

.user-controls__subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.user-controls__fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-controls__field {
    display: flex;
    flex-direction: column;
}

.user-controls__field label,
.user-controls__field p {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-controls__field span {
    margin-bottom: 10px;
}

.user-controls__message {
    color: #00a0ac;
    font-weight: bold;
    margin-top: 15px;
}

.button {
    background-color: #00a0ac;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #008a94;
}

.button--logout {
    background-color: #e74c3c;
    margin-top: 50px;
}

.button--logout:hover {
    background-color: #c0392b;
}

.input_field {
    border-radius: 4px;
    border: 2px solid rgb(0, 160, 172);
    padding: 4px;
    width: 100%;
    width: 300px;
}

/* Адаптивность */
@media (max-width: 767px) {
    .user-controls__wrapper {
        flex-direction: column;
    }

    .user-controls__divider {
        width: 100%;
        height: 1px;
        background-color: #000000;
        margin: 20px 0;
    }
}

.user_profile_address_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgb(0, 160, 172);
    border-radius: 4px;
    padding: 10px;
}

.user_profile_address_list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trash-icon {
    cursor: pointer;
}

.trash-icon:hover path{
    fill: red;
}
