/* css для profile_menu, то есть страницы выбора настроек в личном кабинете */
.profile_wrapper {
    background-color: white;
    padding: 20px;
}

.profile_menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.profile_option_choice {
    border: 2px solid rgb(0, 160, 172);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.profile_option_choice a {
    text-decoration: none;
    color: rgb(0, 160, 172);
    font-weight: bold;
}

.profile_option_choice:hover {
    background-color: rgb(0, 160, 172);
}

.profile_option_choice:hover a {
    color: white;
}